<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
  <head>
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <meta name="author" content="{{ AUTHOR }}">
    
    {% if article %} {# Add this conditional check #}
    <meta name="twitter:image" content="{{ article.featured_image | replace('../', 'https://jardimsonoro.com/blog/') }}">
    {% endif %} {# End the conditional check #}
    
    <meta name="twitter:creator" content="{{ TWITTER_USERNAME }}">
    <meta property="og:url" content="{{ SITEURLFULL }}"/>
    <meta property="og:title" content="{{ SITENAME }}" />
    {% if article %}
  <meta name="twitter:description" content="{{ article.summary|striptags }}">
  <meta property="og:description" content="{{ article.summary|striptags }}">
  <meta name="description" content="{{ article.summary|striptags }}">
  <meta name="twitter:description" content="{{ article.summary|striptags }}">
{% else %}
  <meta name="twitter:description" content="{{ SITEDESCRIPTION }}">
  <meta property="og:description" content="{{ SITEDESCRIPTION }}">
  <meta name="description" content="{{ SITEDESCRIPTION }}">
  <meta name="twitter:description" content="{{ SITEDESCRIPTION }}">
{% endif %}

    {% if article %} {# Add this conditional check #}
    <meta property="og:image" content="{{ article.featured_image | replace('../', 'https://jardimsonoro.com/blog/') }}">
    {% endif %} {# End the conditional check #}
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/paper.css" />
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/pygment.css" />
    <!-- Favicons -->
    {% if APPLE_ICON %}
    <link rel="apple-touch-icon" href="{{ SITEURL }}/images/apple-touch-icon.png">
    {% endif %}
    {% if FAVICON %}
    <link rel="icon" type="image/jpg" href="{{ SITEURL }}/images/{{ FAVICON }}">
    {% endif %}
    <link rel="alternate" type="application/atom+xml" href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" title="Atom Feed">
    <link rel="alternate" type="application/atom+xml" href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" title="Full Atom Feed">


    {% block extrahead %}
    {% endblock %}
  </head>
  <body class="{% if page %}single{% else %}list{% if page_name == 'index' %} home{% endif %}{%endif %}">
    <header class="header">
      <nav class="nav">
        <h1 class="logo"><a href="/">Jardim Sonoro</a><a href="{{ SITEURL }}"><span class="acidbg white">Blog</span></a></h1>
      </nav>
    </header>
    <main class="main">
    {% block content %}
    {% endblock %}
    </main>
  <footer class="footer">
          <div class="logo-container">
  <img src="https://jardimsonoro.com/jslogob.png" alt="Logo Jardim Sonoro" id="logo-img" class="logoimg" />
		</div>
    <p>&copy; {{ CURRENT_YEAR }} <a href="https://jardimsonoro.com">Jardim Sonoro</a> &middot; {{ LOCATION }}</p>
  </footer>
  <script>
    function setTheme() {
      const logo = document.getElementById('logo-img');
      if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.body.classList.add('dark');
        if (logo) logo.src = 'https://jardimsonoro.com/jslogo.png'; // versão dark
      } else {
        document.body.classList.remove('dark');
        if (logo) logo.src = 'https://jardimsonoro.com/jslogob.png'; // versão light
      }
    }

    // Executar ao carregar a página
    setTheme();

    // Escutar mudanças no sistema do usuário
    window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', setTheme);
  </script>
  </body>
</html>
